@import "style1.css";
@import "style2.css";
@import "style3.css";
* {
	margin: 0px;
	padding: 0px;
}

#content {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin-top: 4rem;
}

.figure {
	border: thin #c0c0c0 solid;
	display: flex;
	flex-flow: column;
}

.figcaption {
	background-color: #222;
	color: #fff;
	font: italic smaller sans-serif;
	padding: 0.5rem;
	text-align: center;
}

.content-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(350px, auto);
	grid-gap: 1.6rem;
	grid-template-areas: "left right" "left1 right1" "left2 right2";
}

.card {
	border: 2px solid gray;
	border-radius: 0.3rem;
	padding: 0.4rem;
	box-shadow: 1px 2px gray;
}

@media (max-width: 900px) {
	.content-container {
		display: grid;
		padding: 1rem;
		grid-template-columns: 1fr;
		grid-template-rows: minmax(350px, auto);
		grid-column-gap: 2rem;
		grid-row-gap: 2rem;
		grid-template-areas: "left" "right" "left1" "right1" "left2" "right2";
	}
	.header-container {
		display: flex;
		padding: 0px;
		margin: 0px;
		flex-direction: column;
		justify-content: space-between;
	}
	.footer {
		display: flex;
		background-color: #444;
		justify-content: space-around;
		flex-direction: column;
		padding: 1.6rem;
		align-items: center;
		color: white;
		margin-top: 1.6rem;
	}
}

@media (min-width: 900px) and (max-width: 1400px) {
	.content-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: minmax(350px, auto);
		padding: 1.2rem;
		grid-column-gap: 2.4rem;
		grid-row-gap: 2.4rem;
		grid-template-areas: "left right" "left1 right1" "left2 right2";
	}
}

@media (min-width: 1400px) {
	.content-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: minmax(300px, auto);
		grid-column-gap: 3.2rem;
		padding: 1.2rem;
		grid-row-gap: 3.2rem;
		grid-template-areas: "left right left1" "right1 left2 right2";
	}
}

img {
	width: 100%;
	height: 50%;
}

.contact-us li {
	margin: 0.8rem;
}

.date {
	margin-top: 0.4rem;
	margin-left: 0.8rem;
	color: gray;
}

.info {
	margin-right: 0.8rem;
	font-size: 1.2rem;
	color: black;
}

.link {
	display: block;
	margin: auto auto;
	color: white;
	padding: 0.8rem;
	font-weight: 400;
	border-radius: 0.4rem;
	background-color: #000839;
	border: none;
}