.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 1.6rem;
}

header {
	background-color: #000839;
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

.header-container h2 {
	color: white;
}

.header-container a {
	color: white;
}